<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name%>
  </div>

  <div class="field">
    <%= f.label :campus %><br />
    <%= f.select :campus_id,
              options_from_collection_for_select(@campus.all, :id, :city), :include_blank => 'Select One' %>
  </div>

  <div class="field">
    <%= f.label :class %><br />
    <%= f.select :klass,
              options_for_select([['Rails', 'rails'],
                                  ['Python', 'python'],
                                  ['C#', 'c#'],
                                  ['Front End', 'front end'],
                                  ['User Interface', 'user interface'],
                                  ['Java', 'java'],
                                  ['Mobile', 'mobile'],
                                  ['Operations', 'operations']]), :include_blank => 'Select One' %>
  </div>

  <div class="field">
    <%= f.label :slack_name %><br />
    <%= f.text_field :slack_name%>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
