<h3>TIY <%= @campus.city %></h3>
<h4>Street Address</h4>
<ul>
  <li><%= @campus.street_address %>
    <br><%= "#{@campus.city}, #{@campus.state} #{@campus.zip_code}"%>
  </li>
</ul>
<h4>librarian</h4>
<ul>
  <li><%= @campus.librarian %></li>
</ul>

<%= button_to('Back To Directory', campus_path, class: 'btn btn-sm btn-default', method: :get) %>
