<h2>
  Current Purchase Requests
  <span class="badge"><%= @prs.count %></span>
</h2>

<table class="table table-hover table-striped table-condensed">
  <thead>
    <tr>
      <th>Location</th>
      <th>Book Title</th>
      <th>Book Author</th>
      <th>Book ISBN</th>
      <th>Subject Area</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @prs.each do |p| %>
      <th><%= p.campus.city %></th>
      <th><%=  %></th>
      <th><%=  %></th>
      <th><%= p.isbn %></th>
      <th><%= p.klass %></th>
      <th><%= p.status %></th>
      <th class="button-container">
        <%= button_to('Edit', edit_purchase_request_path(p), class: 'btn btn-xs btn-primary', method: :get) %>
      </th>
    <% end %>
  </tbody>
</table>
