<h3>Confirm the book to add to TIY-<%= @campus.city %>'s library</h3>
<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <img src="http://covers.openlibrary.org/b/isbn/<%= @book.isbn %>-M.jpg?default=false" onerror="this.src='/no-cover.gif'" />
    </div>
    <div class="col-sm-7">
      <h3><%= @book.title %></h3>
      <h4>By <%= @book.author  %></h4>
      Summary:
      <ul>
        <li><%= @book.summary  %></li>
      </ul>
      <div class="button-container">
        <%= bootstrap_form_for @book, url: campu_books_path(@campus) do |f| %>
          <%= f.select :category, [["general", "general"],
                                   ["ruby", "ruby"],
                                   ["rails", "rails"],
                                   ["html", "html"],
                                   ["css", "css"],
                                   ["javascript", "javascript"],
                                   ["angular", "angular"],
                                   ["react", "react"]],
                                   { label: "Select category" }, { class: "selectpicker" } %>
          <button class="btn btn-success btn-sm">Confirm</button>
        <% end %>

        <%= button_to "Reject", new_campu_book_path(@campus), class: "btn btn-warning btn-sm", method: "get" %>
      </div>
    </div>
  </div>
</div>
