<body class="BookIndex">

  <h2>
    Current Books
    <span class="badge" id="book-count"></span>
  </h2>

  <table class="table table-hover table-striped table-condensed">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>ISBN</th>
        <th>Subject Area</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |b| %>
      </tr>
        <th><%= b.title %></th>
        <th><%= b.author %></th>
        <th><%= b.isbn %></th>
        <th><%= b.category %></th>
        <th><%= b.status %></th>
        <th class="button-container">
          <%= button_to('Go To Book', book_path(b), class: 'btn btn-xs btn-info', method: :get) %>
        </th>
      </tr>
      <% end %>
    </tbody>
  </table>

</body>
