<h4>Search for a book by title, author, or ISBN</h4>

<%= bootstrap_form_tag url: books_search_path, method: :get do |f| %>
  <%= f.text_field :criteria %>
  <button class="btn btn-primary btn-sm">Submit</button>
<% end %>

<% if @books %>
  <table class="table table-hover table-striped table-condensed">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>ISBN</th>
        <th>Subject Area</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |b| %>
      </tr>
        <th><%= b.searchable.title %></th>
        <th><%= b.searchable.author %></th>
        <th><%= b.searchable.isbn %></th>
        <th><%= b.searchable.category %></th>
        <th><%= b.searchable.status %></th>
        <th class="button-container">
          <%= button_to('Go To Book', book_path(b.searchable), class: 'btn btn-xs btn-primary', method: :get) %>
        </th>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
